@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
// @import "../blocks/modules";

$light: #fff;
$bg-gray: #f5f6fa;
$bg-dark-gray: #44444f;
$p-gray: #696980;
$violet: #80809b;
$accent: #44d17a;
$accent-gradient: linear-gradient(135deg, rgb(101, 228, 156) 0%, rgb(101, 228, 176) 100%);

body {
    font-family: "Roboto Slab", serif;
    line-height: 24px;
    color: $bg-dark-gray;
}

h3 {
    font-size: 24px;
    letter-spacing: 1.3px;
}

p {
    font-family: "Open Sans", serif;
    font-size: 15px;
    letter-spacing: 0.75px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.page {
    padding: 0 15px 162px 15px;

    &-main {
        background: linear-gradient(120deg, rgb(58, 109, 134) 0%, rgb(20, 189, 166) 100%);
        color: $light;
        padding-bottom: 162px;
    }

    &-author {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &-product {
        padding-top: 147px;
        padding-bottom: 160px;
    }

    &-gray {
        background-color: $bg-gray;
        padding-top: 148px;
        padding-bottom: 160px;

        &-blog {
            padding-top: 155px;
            padding-bottom: 145px;
        }
    }

    &__svg {
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
    }

    &-carousel {
        padding: 0;

        &-top {
            // margin-right: -1px;
            margin-bottom: -7px;
            // margin-left: -1px;
        }

        &-bottom {
            position: absolute;
        }
    }

    &-events {
        padding-top: 232px;
        padding-bottom: 133px;
    }

    &-letter {
        padding-top: 155px;
        padding-bottom: 139px;
    }
}



























































// -----------------------header----------------------
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 178px;

    .toggler {
        visibility: hidden;
    }

    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/svg/Logo.svg);
        background-repeat: no-repeat;
        margin-top: 18px;
    }

    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: "Open Sans", serif;
        font-weight: 300;
        padding-top: 5px;
        padding-right: 2px;
        font-size: 16px;
        line-height: 19px;


        &__item {
            margin-left: 22px;
            padding-bottom: 4px;
            border-bottom: 3px solid transparent;
            transition: 200ms;

            &:hover {
                border-bottom: 3px solid $accent;
            }
        }

        &__item.active {
            border-bottom: 3px solid $accent;
        }

        &__link {
            color: $light;
            text-decoration: none;
            letter-spacing: 0.83px;
        }
    }
}













































































// -------------------block-1-book---------------------
.block-book {
    display: flex;
    justify-content: flex-start;
    position: relative;

    &-demo {
        display: block;
        flex-basis: 499px;
        position: relative;
        background-image: url(../img/svg/Book.svg);
        background-repeat: no-repeat;
        width: 445px;
        height: 639px;

        &__title {
            text-align: center;
            position: relative;
            top: 117px;
            right: 9px;
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1.1px;

            span {
                display: block;
                padding-top: 11px;
                font-size: 14px;
                margin-left: 3px;
                font-family: "Open Sans", serif;
                text-transform: initial;
                color: $accent;
                letter-spacing: 0.7px;
                font-weight: 400;
            }
        }

        &__author {
            font-family: "Open Sans", serif;
            font-size: 15px;
            color: $accent;
            position: relative;
            top: 503px;
            left: 86px;
            letter-spacing: 0.1px;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);

    &__name {
        font-family: "Open Sans", serif;
        font-size: 18px;
        letter-spacing: 0.9px;

        &_book {
            margin: 0 0 31px 2px;
        }

        // block 2 author
        &_top {
            margin: 15px 0 18px 1px;

            // block 6 event
            &-event {
                margin: 1px 0 21px 6px;
            }
        }
    }

    &__title {
        font-size: 48px;
        line-height: 1;

        span {
            display: block;
            color: $accent;
            font-size: 18px;
            text-transform: none;
            font-weight: 400;
            letter-spacing: 0.9px;
            margin-top: 15px;
        }

        &_uppercase {
            text-transform: uppercase;
            color: $light;
            letter-spacing: 1.6px;
            line-height: 1;
            margin-bottom: 41px;
        }

        &-author {
            padding-top: 3px;
            text-transform: none;
            margin-left: -2px;
            letter-spacing: 1.8px;

            span {
                margin: 15px 0 41px 2.5px;
            }
        }

        &-content {
            text-align: center;
            letter-spacing: 2.1px;
            margin-top: 3px;

            span {
                margin-top: 15px;
                margin-bottom: 41px;
            }
        }

        &-product {
            text-align: center;
            letter-spacing: 1.8px;
            margin-top: 3px;
            margin-left: 3px;

            span {
                letter-spacing: 1px;
                margin: 15px 3px 42px 0;
            }
        }

        &-event {
            margin-left: 2px;
            letter-spacing: 1.8px;

            span {
                margin-left: 3px;
                letter-spacing: 1px;
            }
        }

        &-blog {
            text-align: center;
            letter-spacing: 1.9px;
            margin-left: 3px;

            span {
                letter-spacing: 1px;
            }
        }
    }

    &__desc {
        margin-bottom: 24px;
        text-align: initial;

        &_left {
            margin-left: -1px;
        }
    }

    // main btn-------
    &__btn {
        display: block;
        background: $accent-gradient;
        color: #fff;
        text-decoration: none;
        max-width: 245px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin: 47px 0 14px;
        padding: 11px 1px 15px 4px;
        letter-spacing: 0.7px;
        box-shadow: 0 -2px #adedbb inset;
        cursor: pointer;
    }

    small {
        font-family: "Open Sans", serif;
        font-style: italic;
        font-size: 12px;
        letter-spacing: 0.6px;
        margin-left: -2px;
    }

    // block 2 author
    &__btn-2 {
        max-width: 233px;
        margin-left: -1px;
        padding: 11px 2px 15px 3px;
        letter-spacing: 0.8px;
    }

    // block 6 event
    &__width {
        flex-basis: 49%;
        margin-top: -3px;
    }

    &-item {
        &__date {
            margin: 43px 0 4px 2px;
        }

        &__place {
            letter-spacing: 0.83px;
            font-size: 18px;
            margin-left: 3px;
        }

        &__desc {
            margin: 16px 0 0 2px;
        }

        &__btn {
            max-width: 131px;
            margin: 24px 0 55px 3px;
            padding: 11px 0 15px 6px;
            letter-spacing: 0.9px;
        }
    }
}



























































// -----------------block-2-author--------------------
.block-author {
    display: flex;
    justify-content: space-between;
}

.block-ava {
    position: relative;

    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;

        // block 6 event
        &_left {
            top: 2px;
            left: -1px;
        }
    }

    &__img {
        margin-top: 48px;
        margin-right: 44px;

        // block 6 event
        &_left {
            margin: 51px 0 0 50px;
        }
    }
}

.block-counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 193px;
    padding: 0 66px 0 83px;

    p {
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.7px;

        span {
            font-family: "Roboto Slab", serif;
            display: block;
            font-weight: 100;
            font-size: 80px;
            color: $accent;
            margin-bottom: 45px;
        }

        &:nth-child(1) {
            margin: 18px 0 0 3px;

            span {
                letter-spacing: 3px;
            }
        }

        &:nth-child(2) {
            margin: 18px 0 0 16px;

            span {
                margin-left: 6px;
            }
        }

        &:nth-child(3) {
            margin: 18px -9px 0 0;

            span {
                letter-spacing: 3px;
                margin-right: 5px;
            }
        }
    }
}






































































// ------------------block-3-about-------------------
.block-about {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 80px;

    &-text {
        flex-basis: calc(82% - 494px);

        &__desc {
            margin-top: 20px;
        }
    }


    &-table {
        flex-basis: 572px;

        &__list {
            margin-top: 25px;
            padding: 0;
            counter-reset: list;
            column-count: 2;
            column-gap: 26px;

            &>li {
                position: relative;
                padding-left: 35px;
                font-family: "Open Sans", serif;
                counter-increment: list;
                list-style-type: none;
                margin-bottom: 8px;
                letter-spacing: 0.3px;

                &:before {
                    content: counter(list) ". ";
                }

                &:after {
                    content: "+";
                    position: absolute;
                    top: calc(50% - 11px);
                    left: 1px;
                    font-family: "Open Sans", serif;
                    background: linear-gradient(90deg, rgb(95, 201, 168) 0%, rgb(95, 201, 183) 100%);
                    color: #fff;
                    padding: 11px 6.5px;
                    line-height: 0;
                }
            }

            &_next {
                counter-reset: list 10;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -18px;
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(90deg, rgb(95, 201, 168) 0%, rgb(95, 201, 183) 100%);
                }
            }
        }

        &_btn-3 {
            margin-top: 28px;
            margin-left: 2px;
            border: none;
            padding: 13px 43px 17px 45px;
            letter-spacing: 0.7px;
            outline: none;
        }
    }

    &-social {
        display: flex;
        align-items: center;

        &__title {
            font-family: "Roboto Slab", serif;
            font-size: 18px;
            font-weight: 700;
            margin: 15px 23px 14px 2px;
            letter-spacing: 0.9px;
        }

        &__list {
            list-style-type: none;

            &>li {
                display: inline-block;
                font-size: 18px;
                vertical-align: sub;
                margin-right: 12px;

                &>a {
                    color: $accent;
                }
            }
        }
    }
}


















































// ---------------block-4-products-----------------
.block-product {

    &-container {
        display: flex;
        justify-content: space-around;
        padding-top: 46px;

        &__book_2 {
            margin: 0 27px;
        }
    }

    &__book {

        &_cover {
            position: relative;
            background-image: url(../img/svg/Mini-book.svg);
            background-repeat: no-repeat;
            width: 269px;
            height: 409px;
            margin: auto;

            h2 {
                text-align: center;
                text-transform: uppercase;
                font-size: 24px;
                color: $light;
                position: relative;
                top: 71px;
                left: 18px;
                letter-spacing: 1px;

                &>span {
                    color: $accent;
                    text-transform: initial;
                    font-family: "Open Sans", serif;
                    font-weight: 400;
                    display: block;
                    font-size: 12px;
                    letter-spacing: 0.6px;
                    padding: 7px 2px 0 0;
                }
            }
        }

        &_author {
            position: relative;
            color: $accent;
            text-transform: initial;
            font-family: "Open Sans", serif;
            top: 303px;
            font-size: 12px;
            padding-left: 81px;
            letter-spacing: 0.6px;
        }
    }

    &__more {
        padding-top: 35px;
        text-align: center;
        margin: 0 10px;

        &>a {
            position: relative;

            &.read-more {
                display: block;
                max-width: 150px;
                margin: auto;
                font-family: "Open Sans", serif;
                font-size: 14px;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                color: $accent;
                padding-top: 2.5px;
                font-weight: 700;
                text-decoration: none;
                border-bottom: 3px solid transparent;
                transition: 200ms;

                &:hover {
                    border-bottom: 3px solid $accent;
                }
            }
        }
    }

    &__btn-4 {
        background: $accent-gradient;
        color: $light;
        position: relative;
        left: calc(50% - 1px);
        width: 220px;
        margin-top: 82px;
        border: none;
        padding: 13px 0 17px 4px;
        transform: translateX(-50%);
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.7px;
        box-shadow: 0 -2px #adedbb inset;
        outline: none;
        cursor: pointer;
    }
}















































































// ------------------block 5 carousel-------------------

.wrap_dark-background {
    background-color: #44444f;
    padding-top: 95px;
    padding-bottom: 183px;
    margin-bottom: -2px;
    margin-top: -1px;
}

.block-carousel {
    text-align: center;

    &-ava {
        display: block;
        position: relative;
        width: 152px;
        height: 152px;
        margin: 61px auto 28px;
    }

    &-thumb {
        display: block;
        position: relative;
        width: 152px;
        height: 152px;
        overflow: hidden;
        margin: 0 auto 0;
        border-radius: 100%;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 152px;
            height: 152px;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    h3 {
        color: $accent;
        margin-bottom: 4px;
        letter-spacing: 1.2px;
    }

    &-bg {
        display: block;
        position: absolute;
        top: 0;
        right: -15px;
        background-image: url(../img/bq.png);
        background-repeat: no-repeat;
        width: 48px;
        height: 42px;
    }

    &__desc {
        max-width: 760px;
        margin: 0 auto;
        line-height: 1.8rem;
        color: $violet;
    }

    &__expert {
        margin-bottom: 30px;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    &>li {
        position: relative;
        top: 34px;
        margin: 0 5px;

        &>button {
            text-indent: -9999px;
            width: 8px;
            height: 8px;
            border: none;
            background-color: $accent;
            border-radius: 100%;
            line-height: 0;
            font-size: 0;
            cursor: pointer;
            padding: 4px;

            &:focus {
                outline: none;
            }
        }
    }

    &>li.slick-active {
        &>button {
            width: 37px;
            border-radius: 10px;
        }
    }
}

.slick-slide {
    outline: none;
}











































// ------------------block 7 blog---------------------
.block-blog {
    display: flex;
    justify-content: space-between;
    margin-top: 87px;

    &-item {
        flex-basis: 31.6%;
        position: relative;


        &:nth-child(3) {
            left: 2px;

            h4 {
                letter-spacing: 0.8px;
            }
        }

        h4 {
            font-size: 18px;
            letter-spacing: 0.85px;
        }
    }

    &__img {
        position: relative;
        width: 100%;
        height: 224px;
        overflow: hidden;
        margin-bottom: 16px;

        img {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            width: 100%;
            // height: 224px;
            // transform: translate(-50%, -50%);
            // object-fit: cover;
        }
    }

    &__info {
        flex-wrap: wrap;
        position: relative;
        right: 2px;
        bottom: 12px;

        a {
            color: $accent;
            text-decoration: none;
        }
    }

    &__desc {
        position: relative;
        right: 2px;
        bottom: 15px;
    }

    &__btn-5 {
        position: relative;
        left: calc(50% - 135px);
        margin-top: 54px;
        padding: 11px 8px 15px 12px;
        letter-spacing: 0.8px;
    }
}


























































// ------------------block 8 letter------------------

.block-letter {
    display: flex;
    justify-content: space-between;

    &-item {
        flex-basis: calc(48% + 8px);

        &__subscribe {
            margin: 5px 0;
        }
    }

    &__title {
        letter-spacing: 1.8px;
    }

    &__text {
        margin-top: 12px;
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        background-color: #44444f;
        border: none;
        border-radius: 3px;
        padding: 15px 27px;
        color: $violet;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-family: "Open Sans", serif;
            color: $violet;
            letter-spacing: 0.27px;
        }
    }

    &__btn {
        width: 100%;
        max-width: none;
        border: none;
        letter-spacing: 0.9px;
        margin-top: 20px;
        padding: 13px 0 17px 2.5px;
        outline: none;
    }
}



















































// ---------------------block 9 footer----------------------------
.footer {
    background-color: $bg-dark-gray;
    color: $violet;
    margin: 0;
    padding: 0;
}

.block-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    padding-bottom: 139px;

    &__about {
        width: 365px;
        padding: 0;
    }

    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/svg/Logo-light.svg);
        background-repeat: no-repeat;
    }

    &__text {
        padding-top: 11px;
        letter-spacing: 0.6px;
    }

    &__copyright {
        flex-basis: 30%;
        padding-top: 9px;
        letter-spacing: 0.6px;
    }

    &__links {
        position: relative;
        top: 9px;
        right: 33px;
    }

    &__title {
        list-style-type: none;
        font-size: 18px;
        color: $accent;
        text-transform: uppercase;
        letter-spacing: 0.6px;

        &_right {
            position: relative;
            left: 1px;
        }
    }

    &__list {
        list-style-type: none;
        padding-top: 20px;
        padding-left: 1px;
        font-family: "Open Sans", serif;

        &>li {
            margin-bottom: 4px;

            &>a {
                text-decoration: none;
                color: $violet;
            }
        }
    }

    &__contacts {
        position: relative;
        top: 9px;
        right: 16px;
    }

    &__address {
        padding-top: 5px;
        letter-spacing: 0.6px;
        margin-bottom: 12px;
    }

    &__social {

        &>li {
            display: inline-block;
            color: #44d17a;
            margin-right: 9px;
            margin-bottom: 2px;
            font-size: 15px;
            position: relative;
            right: 1px;
            bottom: 1px;

            &>a {
                color: $accent;
            }
        }
    }
}




















































@media (max-width: 320px) {
    .block-letter {

        &__title {
            font-size: 28px;
        }
    }
}

@media (max-width: 480px) {
    .block-ava {
        &__svg {
            position: absolute;
            z-index: -1;
            right: 0;
            width: 250px;
            height: 350px;


            // block 6 event
            &_left {
                width: 250px;
                height: 444px;
                margin: 0;
            }
        }

        &__img {
            width: 250px;
            height: 256px;

            // block 6 event
            &_left {
                width: 250px;
                height: 344px;
            }
        }
    }

    .block-product {
        &__book {

            &_cover {
                width: 219px;
                height: 359px;

                h2 {
                    font-size: 22px;
                    width: 160px;
                    margin: auto;

                    &>span {
                        font-size: 11px;
                    }
                }
            }

            &_author {
                top: 230px;
                font-size: 10px;
                padding-left: 60px;
                width: 120px;
            }
        }
    }

    .block-letter {

        &__title {
            font-size: 35px;
        }
    }

    .block-footer__about {
        width: 80%;
    }
}



@media (max-width: 640px) {
    .block-about {
        &-table {
            &__list {
                column-count: 1;
            }
        }
    }

    .block-product__more>p {
        width: 80%;
    }
}

@media (max-width: 768px) {

    .header {
        padding-bottom: 0;

        &-list {
            display: block;
            // justify-content: center;
            font-size: 24px;
            line-height: initial;

            &__item {
                margin-left: 0;
                margin-bottom: 15px;
            }
        }

        &__menu-wrap {
            position: absolute;
            z-index: 2;

            .toggler {
                visibility: visible;
                position: fixed;
                z-index: 2;
                top: 0;
                right: 0;
                cursor: pointer;
                width: 50px;
                height: 50px;
                margin: 10px;
                opacity: 0;

                &:checked {
                    + {
                        .hamburger {
                            .hamburger_1 {
                                transform: rotate(135deg);

                                &:before {
                                    top: 0;
                                    transform: rotate(90deg);
                                }

                                &:after {
                                    top: 0;
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }

                    &:hover {
                        + {
                            .hamburger {
                                .hamburger_1 {
                                    transform: rotate(225deg);
                                }
                            }
                        }
                    }

                    ~ {
                        .menu {
                            visibility: visible;

                            >div {
                                transform: scale(1);
                                transition-duration: 0.75s;

                                >div {
                                    opacity: 1;
                                    transition: opacity 0.4s ease 0.4s;
                                }
                            }
                        }
                    }
                }
            }

            .hamburger {
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                width: 60px;
                height: 60px;
                margin: 5px;
                border-radius: 3px;
                background: $accent-gradient;

                .hamburger_1 {
                    display: flex;
                    flex: none;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 60%;
                    height: 2px;
                    background: $light;
                    transition: all 0.4s ease;

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        top: -10px;
                        width: 100%;
                        height: 2px;
                        background: inherit;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        top: 10px;
                        width: 100%;
                        height: 2px;
                        background: inherit;
                    }
                }
            }

            .menu {
                display: flex;
                align-items: center;
                justify-content: center;
                visibility: hidden;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;

                >div {
                    display: flex;
                    flex: none;
                    align-items: center;
                    justify-content: center;
                    background: rgba(58, 58, 58, 0.95);
                    border-radius: 50%;
                    width: 200vw;
                    height: 200vw;
                    transform: scale(0);
                    transition: all 0.4s ease;

                    >div {
                        text-align: center;
                        max-width: 90vw;
                        max-height: 100vh;
                        opacity: 0;
                        transition: opacity 0.4s ease;
                    }
                }
            }
        }
    }

    .block-text {
        &_main {
            margin-top: 0;
        }
    }

    .block-counter {
        flex-direction: column;

        p {
            padding-top: 30px;
        }
    }

    .block-book-demo {
        width: 270px;
        height: 400px;

        &__title {
            top: 65px;
            font-size: 25px;
            width: 200px;
            margin: auto;

            span {
                padding-top: 0;
                font-size: 11px;
                margin-left: 3px;
            }
        }

        &__author {
            font-size: 10px;
            top: 290px;
            left: 60px;
            width: 100px;
        }
    }
}

@media (max-width: 992px) {
    .page {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .page-main {
        padding-top: 0;
    }

    .header {
        flex-direction: column;

        &__logo {
            margin-bottom: 40px;
        }
    }

    .block-text {
        text-align: center;
        margin-top: 60px;

        &__desc_left {
            padding: 0 10%;
        }

        &__btn-2 {
            margin: 47px auto 0;
        }

        &__width {
            text-align: center;
        }

        &-item__desc {
            width: 80%;
        }


        &-item__btn {
            margin: auto;
        }
    }

    .block-author {
        flex-direction: column-reverse;
    }

    .block-ava {
        margin: 50px auto 0;
    }

    .block-counter {
        margin-top: 80px;
        padding: 0 30px;
    }

    .block-about {
        margin-top: 0;

        &-text {
            h3 {
                text-align: center;
            }
        }
    }

    .block-footer {
        flex-direction: column;
        padding: 100px 15px 50px;

        &__links {
            position: initial;
            margin-top: 15px;
        }

        &__contacts {
            position: initial;
            margin-top: 15px;
        }
    }
}

@media (max-width: 1200px) {
    .page-letter {
        width: 60%;
        margin: 20px auto 0;
    }

    .header {
        padding-bottom: 50px;
    }

    .block-book {
        flex-direction: column-reverse;

        &-demo {
            flex-basis: auto;
            margin: 50px auto 0;

            &__title {
                left: 19px;
            }
        }
    }

    .block-text {
        flex-basis: calc(93% - 340px);

        &_main {
            text-align: center;
            width: 70%;
            margin: 0 auto;
        }

        &__width {
            flex-basis: calc(93% - 340px);
        }

        &__btn {
            margin: 47px auto 14px;
        }

        &__btn-2 {
            margin: 47px 0 14px;
        }

        &-item {

            &__desc {
                margin: 30px auto;
            }

            &__btn {
                margin: 24px 0 55px;
            }
        }
    }

    .block-about {
        flex-direction: column;
        max-width: 750px;
        margin: 82px auto 0;

        &-table {
            margin-top: 40px;
            margin-bottom: -250px;
        }
    }

    .block-ava {
        &__svg {
            width: 300px;
            height: 412px;

            &_left {
                height: 512px;
            }
        }

        &__img {
            width: 300px;

            &_left {
                margin-bottom: 50px;
            }
        }
    }

    .block-product {
        &-container {
            flex-direction: column;
        }

        &__more {
            &>p {
                width: 400px;
                margin: 15px auto;
            }

            &>a {
                &.read-more {
                    margin: 15px auto 40px;
                }
            }
        }

        &__btn-4 {
            margin-top: 10px;
        }
    }

    .block-blog {
        flex-direction: column;
        max-width: 600px;
        margin: 80px auto 0;

        &-item:nth-child(3) {
            left: 0;
        }

        &__btn-5 {
            left: 0;
        }
    }

    .block-letter {
        flex-direction: column;

        &__title {
            text-align: center;
        }
    }

    .footer {
        padding: 0 15px;
    }
}